.btn {
  display: inline-block;
  background: var(--btn-bg);
  color: var(--btn-text);
  border: 1px solid var(--btn-border);
  border-radius: var(--radius-md);
  box-shadow: var(--btn-shadow);
  font-family: var(--font-family-inter);
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.btn--s {
  font-size: var(--btn-font-size-s);
  font-weight: var(--btn-font-weight-s);
  line-height: 1;
  padding: var(--btn-padding-y-s) var(--btn-padding-x-s);
}

.btn--m {
  font-size: var(--btn-font-size-m);
  font-weight: var(--btn-font-weight-m);
  line-height: 1;
  padding: var(--btn-padding-y-m) var(--btn-padding-x-m);
}

.btn--l {
  font-size: var(--btn-font-size-l);
  font-weight: var(--btn-font-weight-l);
  line-height: 1;
  padding: var(--btn-padding-y-l) var(--btn-padding-x-l);
}

.btn:focus {
  outline: 3px solid var(--btn-focus-outline);
  outline-offset: 2px;
}
